<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"
    integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css">

     <script src="assets/jquery.js"></script>
  </head>
  <body>
    <form>
        <input class="text" type="text" name="item" placeholder="Add file..." required />
        <input class="age" type="text" name="age" placeholder="age" required/>
        <button type="submit">ADD</button>
    </form>
    <ul>
      <% for(var i=0;i<todos.length;i++){ %>
        <li><span class="name"><%= todos[i].item %></span></li>
        <!-- <span class="age"><%= todos[i].age %></span></li> -->
        <% } %>
    </ul>

  </body>
</html>
